.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# iOS Build files
**/build/
*.xcworkspace/
*.xcuserdata/

# Android Build files
**/gradle/
**/gradlew
**/gradlew.bat
**/build/
**/out/

# IDE files
.vscode/
.idea/
